* {
  box-sizing: border-box;
}

body {
  font-family: 'IM Fell DW Pica', serif;
  background-color: #8b0736;
}

  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
      display:block;
  }
  
  ol, ul {
      list-style:none;
  }
  strong {
      font-weight: 400;
  }
  
  .splash {
    width: 100%;
    height: 215px;
    background-color: black;
  }
  
  .intro-splash {  
    display: block;
    margin: auto;
  }
  
  #frame {
      max-width:600px;
      width:auto;
      border: 3px solid #756b7c;
      background-color: #f7f5ea;
      padding: 20px;
      margin: auto;
      border-radius: 10px;
  }
  h1 {
      font-family: 'IM Fell DW Pica', serif;
      text-align:left;
      border-bottom:1px solid #999;
      padding:0;
      width:auto
  }
  h2 {
      font-family: 'IM Fell DW Pica', serif;
      padding:0;
      text-align:center;
      margin:20px 0;
  }
  p.pager {
      margin:5px 0 5px;
      font-family: 'IM Fell DW Pica', serif;
      color:#999;
  }
  img.question-image {
      display: block;
      max-width: 250px;
      margin: 10px auto;
      border: 1px solid #ccc;
      width: 100%;
      height: auto;
  }
  #choice-block {
      display: block;
      list-style: none;
      margin: 0;
      padding: 0;
  }
  #submitbutton {
      background: #5a6b8c;
  }
  #submitbutton: hover {
      background:#7b8da6;
  }
  #explanation {
      margin:0 auto;
      padding:20px;
      width:75%;
  }
  .choice-box {
      display: block;
      font-size: 16px;
      text-align: center;
      margin: 8px auto;
      padding: 10px 0;
      border: 2px solid #666;
      cursor:pointer;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
  }